# 一般的な無視ファイル（例: node_modules/, build/ など）
.env
log/
tmp/
node_modules/
_sandbox/
*.log
*.tmp
.DS_Store
Thumbs.db
*.pdf

# RubyGem artifacts
*.gem
pkg/*.gem

# Vivliostyle build artifacts
/.vivliostyle/

# ルート直下にある中間生成ファイルのみを除外
# /[0-9][0-9]-*.html
# /[0-9][0-9]-*.md
/entries.js
/source_material/images/
