# 一般的な無視ファイル（例: node_modules/, build/ など）
.env
log/
tmp/
node_modules/
_sandbox/
*.log
*.tmp
.DS_Store
Thumbs.db
*.pdf

# RubyGem artifacts
*.gem
pkg/*.gem

# Vivliostyle build artifacts
/.vivliostyle/
