@charset "utf-8";

@import url("base.css");
@import url("theme.css");
@import url("page-settings.css");
@import url("image-header.css");
@import url("prism.css");
@import url("code.css");
@import url("table.css");
@import url("spacing.css");
@import url("layout-utils.css");
@import url("components.css");
@import url("chapter-common.css");

/* =====================================================================
   Chapter (章)
   ===================================================================== */

/* ノンブル（ページ番号）を常に下中央に表示 */
@page {
  @bottom-center {
    /* content: counter(page); */
  }
}
/* 
@page {
  @bottom-center {
    content: none;
  }
}

@page :left {
  @bottom-left {
    content: counter(page);
  }
}

@page :right {
  @bottom-right {
    content: counter(page);
  }
} */