@charset "utf-8";

@font-face {
  font-family: "hackgen35";
  src: url("fonts/hackgen35/HackGen35-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "hackgen35";
  src: url("fonts/hackgen35/HackGen35-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
