/*=====================================================================
  じゃんけんゲームの為のスタイルシート
=====================================================================*/

/* 和の色 (CSSカスタムプロパティ)を使えるようにする
---------------------------------------------------------------------*/
:root {
  --kyohiiro:          #ff251e; /* 京緋色(きょうひいろ) */
  --shinonomeiro:      #f19072; /* 東雲色(しののめいろ) */
  --nanohanairo:       #ffec47; /* 菜の花色(なのはないろ) */
  --sanaeiro:          #67a70c; /* 早苗色(さなえいろ) */
  --amairo:            #2ca9e1; /* 天色(あまいろ) */
  --utsushiiro:        #3d6eda; /* 移色(うつしいろ) */
  --botaniro:          #e7609e; /* 牡丹色(ぼたんいろ) */
  --ayameiro:          #674196; /* 菖蒲色(あやめいろ) */
  --sakurairo:         #fef4f4; /* 桜色(さくらいろ) */
  --momijiiro:         #a61017; /* 紅葉色(もみじいろ) */
  --nibiiro:           #9ea1a3; /* 鈍色(にびいろ) */
  --kurohairo:         #0d0d0d; /* 黒羽色(くろはいろ) */

  --harukazeiro:       transparent; /* 春風色(はるかぜいろ) */
}

/* 基本設定(リセットCSS)
---------------------------------------------------------------------*/
* {                       /* 全ての要素(*)を対象に装飾方法を指定する */
  margin: 0;              /* 余白を0にする */
  box-sizing: border-box; /* 要素の幅を制御しやすくする */
}

/* CSSグリッドレイアウトで ページ全体の配置設定する
---------------------------------------------------------------------*/
body {            /* 全ての要素の親であるbody要素を対象に */
  display: grid;  /* グリッド(格子)を使ったレイアウトを行う */
  /* 一行目はtitleなど 五行六列の各領域に名前を付ける
     また、行の高さ、列の幅も同時に設定する */
  grid-template:
    "title    title    title    title    title    title   " auto
    ".        computer computer computer computer .       " auto
    "note     note     note     note     note     note    " auto
    "guu      guu      choki    choki    paa      paa     " auto
    "score    score    score    play     play     play    " auto
    / 1fr     1fr      1fr      1fr      1fr      1fr;
  gap: 10px;               /* 行と列の間にgap(隙間)を15px入れる */

  inline-size: 100vw;      /* 幅を画面の幅にする */
  max-inline-size: 430px;  /* 最大幅を iPhone 15 Pro Max の横幅にする */
  block-size: 100svh;      /* 高さを画面の高さにする */
  max-block-size: 932px;   /* 最大高を iPhone 15 Pro Max の横幅にする */
  margin-inline: auto;     /* iPad で見る人の為に、左右に余白を設ける */

  background: var(--sakurairo); /* 背景色は桜色にする */
  color: var(--kurohairo);      /* 文字色は黒羽色にする */

  > * {                    /* body の すべての子要素を対象に */
    place-self: center;    /* 升目の中央に配置するよう指定する */
  }
}

/* ヘッダー
---------------------------------------------------------------------*/
header {                      /* header 要素を対象に */
  grid-area: title;           /* title領域に配置する */
  h1 {                        /* header 内の h1 (大見出し)を対象に */
    font-size: 40px;          /* 書体の大きさは40pxにする */
    color: var(--kurohairo);  /* 文字色を黒羽色にする */
    text-shadow: 3px 4px 5px var(--nibiiro); /* 鈍色の影を付ける */
    text-align: center;       /* 文字は中央揃えにする */
  }
}

/* コンピュータの手を対象に */
figure {
  grid-area: computer;  /* computer領域に配置する */
  img {
    inline-size: 100%;  /* 幅を尾や要素の幅にする */
  }
}

/* じゃんけんの説明文を対象に */
.note {
  grid-area: note;      /* computer領域に配置する */
  text-align: center;   /* 文字は中央揃えにする */
}

/* button要素を対象に */
button {
  aspect-ratio: 1 / 1;            /* 横縦比は１対１にします */
  inline-size: 100%;              /* 幅は親要素の幅にする */
  background-size: contain;       /* 背景画像が全て含むようにする */
  background-repeat: no-repeat;   /* 背景画像を繰り返さないようにする */
  border-radius: 15px;            /* 角は 半径(radius) 15pxで丸くする */
  cursor: pointer;                /* カーソルの形状を手のマークにする */
  border: none;                   /* 枠線は無しにする */
}

/* グー、チョキ、パー 各ボタンの配置と背景色と背景画像を指定 */
#guu   {
  grid-area: guu;                                  /* guu領域に配置する */
  background-color: var(--amairo);                 /* 背景色は天色にする */
  background-image: url('images/player_guu.webp'); /* 背景画像はグーにする */
}
#choki {
  grid-area: choki;
  background-color: var(--nanohanairo);
  background-image: url('images/player_choki.webp');
}
#paa   {
  grid-area: paa;
  background-color: var(--kyohiiro);
  background-image: url('images/player_paa.webp');
}

/* スコアボタンと開始ボタンの設定 */
.score {
  grid-area: score;  /* score領域に配置する */
  font-size: 24px;   /* 書体の大きさは24pxにする */
}
#play  {
  grid-area: play;                      /* play領域に配置する */
  background-color: var(--utsushiiro);  /* 背景色は 移色にする */
  color: var(--sakurairo);              /* 文字の色は 桜色にする */
  font-size: 24px;                      /* 書体の大きさは24pxにする */
  aspect-ratio: 5 / 1;                  /* 横縦比を横5対縦1にする */
}
