/* body { width: 500px; } */

/* h1 要素を選択して、装飾を施す */
h1 {
  font-size: 36px;      /* 書体の大きさを指定します */
  text-align: center;   /* 文字は中央揃えにします */
  color: red;
}

/* ul 要素 を選択して、装飾を施す */
ul {
  width: 500px;         /* 幅を指定します */
  max-width: 100%;      /* 最大幅を指定します */
}

/* p1 要素 と li 要素を選択して、装飾を施す */
p, li {
  font-size: 16px;      /* 書体の大きさを指定します */
  line-height: 2;       /* 行の高さを 2 行分にします */
  letter-spacing: 1px;  /* 文字の間隔を 1px 空けます */
}

/* class属性が html である要素(class="html")を選択して、装飾を施す */
.html {
  background: orange;   /* 背景色を指定します */
}

.css {
  background: cyan;
}

.javascript {
  background: yellow;
}
